<h1>INDEX of Bottles</h1>
<ul>
    <% @bottles.each do |b| %>
      <li><%= link_to b.wine_name, bottle_path(b) %> - <%= b.reviews.size %> comments
          Vintage: <%= b.vintage %><br>
          Region: <%= b.region %><br>
          Winery: <%= b.winery %><br>
          Description <%= b.description %><br>     
      </li>
    <% end %>
</ul>