<h1>INDEX of BOTTLES</h1>
<ul>
    <li>Wine Name:<%= @bottle.wine_name%>
        Vintage: <%= @bottle.vintage %><br>
        Region: <%= @bottle.region %><br>
        Winery: <%= @bottle.winery %><br>
        Description <%= @bottle.description %><br>     
      </li>
</ul>