<h1><u><%= @bottle.wine_name %></h1></u> - <small>by: <%= link_to @bottle.user.username, user_path(@bottle.user) %></small>
<br>
<strong>Vintage:</strong> <%= @bottle.vintage %><br>
<strong>Winery:</strong> <%= @bottle.winery %><br>
<strong>Region:</strong> <%= @bottle.region %><br>
<strong>Description:</strong> <%= @bottle.description %><br>
<br>
<br>
<% if @bottle.user == current_user %>
<h4><%= link_to "Edit Post", edit_bottle_path(@bottle)%></h4>
<% end %>
<br>
<%= link_to "Leave a Review", new_review_path(@bottle) %>
<br>
<h3>Reviews:</h3>
<% @bottle.reviews.each do |r| %>
<li>
    <small>by <strong><%= r.user.username %></strong> </small><br>
    "<%= link_to r.content, bottle_review_path(@bottle, r) %>"
</li>
<% end %>