<h1><%= @bottle.wine_name %></h1>
<small>by: <%= @bottle.user.username %></small>

<div><%= @bottle.description %></div>

<P><%= link_to "See all reviews" bottle_reviews_path(@bottle) %></P>
<P><%= link_to "Leave a review" new_bottle_review_path(@bottle) %></P>

<h4>Reviews:</h4>
<% @bottle.reviews.each do |b| %>
    <li><strong><%= b.user.username %></strong> says <%= link_to b.description, review_path(b) %></li>
<% end %>