<h3><%= @bottle.wine_name %></h3>
<br><small>written by: <%= link_to @bottle.user.username, user_path(@bottle.user) %></small>
<br>
<br>
<strong>Vintage:</strong><%= @bottle.vintage %><br>
<strong>Winery:</strong><%= @bottle.winery %><br>
<strong>Region:</strong><%= @bottle.region %><br>
<strong>Description:</strong><%= @bottle.description %><br>
<br>
<br>
<br>
<h4>Reviews:</h4>
<% @bottle.reviews.each do |r| %>
<li>
    <small>by <strong><%= r.user.username %></strong> </small><br>
    "<%= link_to r.content, bottle_review_path(@bottle, r) %>"
</li>
<% end %>

<P><%= link_to "Leave a review" new_bottle_review_path(@bottle) %></P>
<P><%= link_to "See all reviews" bottle_reviews_path(@bottle) %></P>