<h1>Edit Review</h1>

<%= render partial: "layouts/_errors" locals: (object: @review) %>

<%= form_for(@review) do |f| %>
    <%= f.label :bottle %>
    <%= f.collection_select :bottle_id, Bottle.all, :id, :wine_name %>
    <br>
    <br>
    Review: <%= f.text_area :content%>
    <br>
    <br>
    <%= f.submit %>
<% end %>