<% if @review.bottle %>
<h1>New Comment for <%= @review.bottle.title %></h1>
<% else %>
<h1>New Comment</h1>
<% end %>


<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(review.errors.count, "error") %> prohibited this from being saved:</h2>

    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for([@review.bottle, @review]) do |f| %>
    <% if !@review.bottle %>
        <%= f.label :post %>
        <%= f.collection_select :bottle_id, Bottle.all, :id, :wine_name %>
    <% else %>
        <%= f.hidden_field :bottle_id %>
    <% end %> 
    <br>
    <br>
    Comment: <%= f.text_area :content%>
    <br>
    <br>
    <%= f.submit %>
<% end %>


 