
Original Posting: <%= link_to @review.bottle.wine_name, bottle_path(@review.bottle_id) %>
<ul>
  <li>
  <p><small><%= @review.user.username %> says:</small>
<br>
<%= @review.content %></p>
<br>
<% if @review.user == current_user %>
  <%= link_to "Edit Comment", edit_review_path(@review)%>
<% end %>
  </li>
</ul>
<br>
<%= button_to "Delete Comment", review_path(@review), method: :delete %> 

## View all your comments<br>