<h2>Review for: <%= link_to @review.bottle.wine_name, bottle_path(@review) %></h2>
<br>
<strong><%= @review.user.username %></strong> says: - <%= @review.content %>

<% if @review.user == current_user %>
  <p><%= link_to "Edit Review", edit_review_path(@review)%></p>
  <p><%= button_to "Delete Review", review_path(@review), method: :delete %></p>
<% end %>